body {
    font-family: Arial, sans-serif;
    background-color: rgb(229, 232, 235);
}

h1 {
    color: rgb(53, 119, 92)
}

form {
    background-color: rgb(158, 158, 155);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px, rgb(54, 51, 51);
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(43, 17, 17);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: red;
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(146, 30, 30);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}